<footer class="main-footer custom-bg-color">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>University Automation System &copy; 2019</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Designed by <a href="http://xorbd.com" class="external">XOR Software Solution</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
        </div>
    </div>
</footer>
</div>
</div>
</div>