<div class="faculties index">
	<h2><?php echo __('Faculties'); ?></h2>
	<table class="table table-hover" cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('facultyImage'); ?></th>
			<th><?php echo $this->Paginator->sort('facultyName'); ?></th>
			<th><?php echo $this->Paginator->sort('deanName'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($faculties as $faculty): ?>
	<tr>
		<td><?php echo h($faculty['Faculty']['id']); ?>&nbsp;</td>
		<td><?php echo h($faculty['Faculty']['facultyImage']); ?>&nbsp;</td>
		<td><?php echo h($faculty['Faculty']['facultyName']); ?>&nbsp;</td>
		<td><?php echo h($faculty['Faculty']['deanName']); ?>&nbsp;</td>
		<td><?php echo h($faculty['Faculty']['created']); ?>&nbsp;</td>
		<td><?php echo h($faculty['Faculty']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $faculty['Faculty']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $faculty['Faculty']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $faculty['Faculty']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $faculty['Faculty']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Faculty'), array('action' => 'add')); ?></li>
	</ul>
</div>
