.navbar-light .navbar-toggler {
  border-color: #fff;
}
/*.navbar-light .navbar-toggler-icon{
display: none;
}*/
.navicon {
  display: block;
  color: #fff;
  font-size: 28px;
  padding-top: 2px;
}
/*.dropdown:hover>.dropdown-menu {
display: block;
}*/
.nav-item:hover>.tab-pane {
  display: block;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
#news-notice {
  background: #fd8803;
  padding: 55px 0;
}
.str {
  color: #443a75;
}
.notice-pra {
  color: #90134D;
  padding-right: 8px;
}
.notice-span {
  color: #ffcc21;
}
.notice-height {
  min-height: 700px;
}
#facilities {}
/*.item {
min-height: 450px;
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}*/
.item {
  margin: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.size7x {
  font-size: 58px;
  color: #443a75;
  transition: 0.5s;
}
.header-banner {
  background-color: #333;
  background-image: url('https://37.media.tumblr.com/8b4969985e84b2aa1ac8d3449475f1af/tumblr_n3iftvUesn1snvqtdo1_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
header h1 {
  /* background-color: rgba(18,72,120, 0.8); */
  color: #fff;
  padding: 0 1rem;
  position: absolute;
  top: 15px;
  left: 20%;
}
header h5{
  left: 20%;
  position: absolute;
  color: #000;
  top: 60px;
  padding: 0 1rem;
  font-style: italic;
  font-size: 14px;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
nav {
  width: 100%;
  background: rgba(144, 19, 77, 0.9);
  z-index: 99999;
  box-shadow: 0 0px 2px 0px rgba(144, 19, 77, 0.8);
  border-bottom: 1px solid rgba(162, 19, 97, 0.9);
}
.site-title {
  visibility: hidden;
  display: none;
}
.fixed-header .logo {
  display: block;
  visibility: visible;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.nav-link {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  outline: none;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f7f232 !important;
  outline: none;
  text-decoration: none;
  transition: 0.8s;
}
.dropdown-menu{
  background: rgba(144, 19, 77, 0.9);
  margin: 9px 0 0;
  border-radius: 0;
  padding:0;
  border:none;
  
}
.dropdown-item{
  color: #fff !important;
  border-bottom: 1px solid;
}
.dropdown-item:last-child{
  border-bottom: none;
}
.dropdown-item:focus, .dropdown-item:hover{
  color: #f7f232 !important;
  text-decoration: none;
  background-color: transparent;
}
.fixed-header .dropdown-menu {
  top: 37px;
}
.panel-group .panel {
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #fff;
}
.panel-default .panel-heading {
  background-color: rgba(144, 19, 77, 0.9);
  border-color: #eee;
  padding: 16px;
}
.panel-heading {
  border-radius: 0px;
}
.panel-title {
  font-size: 18px;
  margin: 0px;
}
.panel-title a {
  color: #fff;
  display: block;
  text-transform: capitalize;
  font-weight: 400;
}
.panel-title a:hover {
  text-decoration: none;
}
.panel-title a:after {
  content: "\f068";
  font: 18px fontAwesome;
  float: left;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  height: 49px;
  width: 49px;
  margin-left: -16px;
  margin-top: -16px;
  line-height: 55px;
  text-align: center;
}
.panel-title a.collapsed:after {
  content: "\f067";
  font: 18px fontAwesome;
  float: left;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
  height: 49px;
  width: 49px;
  margin-left: -16px;
  margin-top: -16px;
  line-height: 55px;
  text-align: center;
}
/*university glance section custom css use start*/
.card h3 {
  color: rgba(144, 19, 77, 0.9);
}
.card p {
  color: #443a75;
}
.card a,
.message a {
  color: rgba(144, 19, 77, 0.9);
}
.message p {
  color: #443a75;
}
.principal {
  color: rgb(144, 19, 77, 0.9);
}
.prin-img{
  position: relative;
  bottom: 80px;
}
/*news notice section custom css use start*/
.btn-news {
  background: rgba(144, 19, 77, 0.9);
  color: #ffcc21;
  font-weight: bold;
  border: 1px solid rgba(144, 19, 77, 0.9);
  margin-top: 36px;
}
.btn-news:hover {
  background: #443a75;
  color: #ffcc21;
  border: 1px solid #443a75;
  transition: 0.8s;
}
/*facilities section custom css use start*/
.facilities {
  position: relative;
}
.facilities h2 ::before{
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  margin-top: 0;
  top: 97px;
  background: #ddd;
  left: calc(50% - 60px);
}
.facilities h2 ::after, .university-glance h2::after{
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  margin-top: 10px;
  background: rgba(144, 19, 77, 0.9);
  left: calc(50% - 20px);
}
.section-title {
  color: rgba(144, 19, 77, 0.9);
}
/*.fixed-header ul.navbar-nav {
float: right;
}*/
.navbar-collapse{
  flex-grow: 0;
}
/*university glance section custom css use start*/
.university-glance {
  background: url(../img/about-bg.jpg) center top no-repeat fixed;
  background-position: center;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
  color: #443a75;
}
.university-glance::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9;
}
.university-glance .container {
  position: relative;
  z-index: 10;
}
.university-glance h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  margin-top: 0;
  top: 73px;
  background: #ddd;
  left: calc(50% - 60px);
}
/*.university-glance h2::after {
content: '';
position: absolute;
display: block;
width: 40px;
height: 3px;
margin-top: 10px;
background: rgba(144, 19, 77, 0.9);
left: calc(50% - 20px);
}*/
.glance i:hover {
  color: #90134d;
  cursor: pointer;
}
.footer {
  background: rgba(144, 19, 77, 0.9);
  position: relative;
}
.scrollbox {
  height: 700px;
  overflow: auto;
  visibility: hidden;
  overflow-x: hidden;
}
.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
  visibility: visible;
}
.scrollbox::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fd8803;
}
.scrollbox::-webkit-scrollbar {
  width: 0px;
  background-color: #fd8803;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: rgba(144, 19, 77, 0.9);
  border-radius: 10px;
}
/*.footer h4::before  {
content: '';
position: absolute;
display: block;
width: 120px;
height: 1px;
margin-top:0;
top: 73px;
background: #ddd;
left: calc(50% - 60px);
}
.footer h4::after {
content: '';
position: absolute;
display: block;
width: 40px;
height: 3px;
margin-top:10px;
background: #443a75;
left: calc(50% - 20px);
}*/
/*about  page style css*/
.custom-left{
  text-transform: uppercase;
  font-weight:bold;
}
.title-about{
  background: url(../img/about-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 180px 0 25px 0;
}
.about-right{
}
.list-group-item.active{
  background: rgba(144, 19, 77, 0.9);
  border-color: rgba(144, 19, 77, 0.9);
}
.list-custom a{
}
.contant-ad
.contant h3 {
  color: rgba(144, 19, 77, 0.9);
  font-weight: bold;
  border-bottom: 5px solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.tab-pane h6{
  font-weight: bold;
}
.contant p{
  text-align: justify;
  color: #443a75;
  font-size: 18px;
}
.knowledge{
  border-left: 5px solid #443a75;
  padding: 0 10px;
  margin: 10px 0;
}
.knowledge h4{
  color: rgba(144, 19, 77, 0.9);
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*.tab-pane h4{
border-left: 5px solid #443a75;
padding: 0 10px;
}*/
/*About page (Department faculty members) style css*/
.dep-banner-title{
  background: url(../img/member-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding:110px 0;
  color:#fff !important;
}
.dep-title{
  border-left: 5px solid rgba(144, 19, 77, 0.9);
  background:rgba(144, 19, 77, 0.6);
  padding:10px;
}
.faculty-members{
  background:linear-gradient(200deg,#ffcc21,#ff21cf 10%,#01abce 70%,#ce8501);
  padding:70px 0;
  color:#fff;
}
.t-box{
  margin:20px 0;
  padding:20px;
  background: rgba(0,0,0,.404);
}
.t-box:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}
.t-box-des{
  vertical-align: middle;
  padding-left: 20px;
}
.sbtn {
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-top: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  padding: 10px 35px;
  background: #fff;
  border-radius: 5rem;
  -webkit-box-shadow: 2px 4px 6px rgba(0,0,0,.07), 2px 4px 12px rgba(0,0,0,.1);
  box-shadow: 2px 4px 6px rgba(0,0,0,.07), 2px 4px 12px rgba(0,0,0,.1);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.sbtn:hover {
  -webkit-box-shadow: 4px 6px 6px rgba(0,0,0,.17), 4px 6px 12px rgba(0,0,0,.2);
  box-shadow: 4px 6px 6px rgba(0,0,0,.17), 4px 6px 12px rgba(0,0,0,.2);
}
/*.profile-contant{
  padding-bottom: 90px;
  position: relative;
  bottom: 57px;
  z-index: 99999;
}*/
/*LABORATORY FACILITIES*/
.lab-item h1{
  font-size: 32px;
}
.d-intro__img {
  border: 8px solid #fff;
  border: .5rem solid #fff;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  min-height: 80px;
  min-height: 5rem;
  margin-top: 80px;
  margin-top: 5rem;
  margin-bottom: 80px;
  margin-bottom: 5rem;
}
.d-intro__img__val {
    width: 100%;
    min-height: 160px;
    min-height: 10rem;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.d-vline {
    width: 4.8px;
    width: .3rem;
    height: 100%;
    background-color: #21205b;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    z-index: 5;
     margin-right:-5px;
}
.d-circle, .d-vline {
    display: inline-block;
    vertical-align: middle;
}
.d-circle {
    width: 36px;
    height: 36px;
    background-color: #9a2a5e;
    border-radius: 50% 50%;
    z-index: 6;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.profile-img{
  position: relative;
  bottom: 87px;
}
.profile-img img{
  border:5px solid #fff;
  border-radius: 50% !important;
}
/*Admission us page style css*/
.admission{
  margin:50px 0;
  border-top: 5px solid rgba(144, 19, 77, 0.9);
}
.undergraduate-sub a{
  text-decoration: none;
}
.undergraduate-sub p:first-child{
  font-weight: 500;
}
/*Academic us page style css*/
.academic-program{
  border: 5px solid rgba(144, 19, 77, 0.9);
  margin: 8px 0;
  min-height: 480px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.academic-program h6{
  padding: 12px 0;
  background: rgba(144, 19, 77, 0.9);
  text-align: center;
  color: #fff
}
.academic-program a{
  color: #000;
}
.academic-program a:hover{
  color: rgba(144, 19, 77, 0.9);
  text-decoration: none;
}
.academic-collaps{
  background-color: rgba(144, 19, 77, 0.9);
  text-decoration: none;
}
.academic-collaps span{
  font-size: 22px;
}
.academic-collaps button{
  color: #fff;
  font-size: 22px;
  font-weight:bold;
  text-decoration: none;
}
.academic-collaps button:hover{
  color: #fff;
  text-decoration: none;
}
/*contact us page style css*/
.contact-banner{
  background: url(../img/contact-bg.jpg) no-repeat;
  background-position:center center;
  background-size:cover;
  height: 350px;
}
.contact-banner h1{
  color: #fff;
  font-size: 58px;
  vertical-align: middle;
  padding-top: 130px;
  font-weight: bold;
}
.icon-color{
  color: #443a75;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  #wowslider-container1 .ws-title div,
  #wowslider-container1 .ws-title span {
    font-size: 14px;
  }
}
/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
  .site-title {
    visibility: visible;
  }
  .mobile-device {
    display: none;
  }
  .section-title {
    font-size: 22px;
  }
  .notice-mob-dev {
    text-align: left;
    padding: 70px 0px;
  }
  .notice-mob-dev h3 {
    text-align: center;
  }
  .notice-mob-dev a p {
    padding-top: 20px;
  }
  #wowslider-container1 .ws-title div,
  #wowslider-container1 .ws-title span {
    font-size: 18px;
  }
  .list-inline-custom{
    float: left !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .facilities h2 ::after , .university-glance h2::after{
    margin-top:22px;
  }
  .order{
    order: -1;
  }
  .news-mob{
    width: 100%;
  }
}
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
  .mobile-device {
    display: none;
  }
  .site-title {
    visibility: visible;
    display: block;
  }
  .fixed-header ul.navbar-nav {
    float: left;
    width: 100%;
  }
  #wowslider-container1 .ws-title div,
  #wowslider-container1 .ws-title span {
    font-size: 26px;
  }
  .nav-item{
    line-height: 30px;
    border-bottom: 1px solid #fff;
  }
  .mob-arrow {
    display: none;
  }
  .order{
    order: -1;
  }
}
/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  ...
}
/*Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width*/
/*@media (min-width: 991px) {
.fixed-header #navbarSupportedContent {
display: inline-block !important;
}
}*/