<div class="title-about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<h2><b>DIPLOMA</b> ADMISSION</h2>
				<p>Northern University Khulna</p>
			</div>
			<div class="col-md-6 col-sm-12">
				<ul class="list-inline pt-4 float-right list-inline-custom">
					<li class="nav-item list-inline-item"><a href="#">Home </a></li>
					<li class="nav-item list-inline-item "> / Admission /</li>
					<li class="nav-item list-inline-item ">Diploma</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container contant" data-aos="fade-right">
	<div class="admission p-3 shadow overflow-hidden">
		<h3>DIPLOMA</h3>
		<p>An academic year is divided into three semesters.<br>
			Each semester is of 16 weeks duration, which is distributed as follows:<br>
			14 weeks for instruction, 2-weeks for examination and break.<br>
			The schedules for three semesters are as follows.
			An academic year is divided into three semesters.<br>
			Each semester is of 16 weeks duration, which is distributed as follows:<br>
			14 weeks for instruction, 2-weeks for examination and break.<br>
			The schedules for three semesters are as follows.
		</p>
	</div>
</div>